<ul class="github-api">
  {{ $url := .Get "url" }}
  {{ with resources.GetRemote $url }}
    {{ with .Err }}
      {{ errorf "Unable to get remote resource %s: %s" $url . }}
    {{ else }}
      {{ $p := . | transform.Unmarshal }}
      <li>
        <div class="github-avatar">
          <img src="{{$p.owner.avatar_url}}" alt="Avatar of {{$p.owner.login}}" title="Avatar of {{$p.owner.login}}">
        </div>
        <div class="github-name">
          <strong>
            <a href="{{ $p.html_url }}" target="_blank">{{ $p.name | humanize }}</a>
          </strong>
        </div>
        <div class="github-description">
          <p>{{ $p.description }}</p>
        </div>
        <div class="github-metadata">
          <small>
            {{ partial "ico" "star" }} {{$p.stargazers_count}} {{ partial "ico" "git-fork" }}: {{$p.forks_count}}
            {{ if eq $p.language "Python" }}
              {{ partial "ico" "brand-python"}} Python
            {{ else if eq $p.language "Javascript" }}
              {{ partial "ico" "brand-javascript"}} Javascript
            {{ else if eq $p.language "Typescript" }}
              {{ partial "ico" "brand-typescript"}} Typescript
            {{ else }}
              {{$p.language}}
            {{ end}}
          </small>
        </div>
      </li>
    {{ end }}
  {{ end }}
</ul>

